.videoContainer {
    display: flex;
    width: 70%;
    padding: 40px;
    flex-direction: column;
}

.videoPlayer {
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

.videoPlayer iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#comForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.commentSection {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.comLabel {
    text-align: left;
    margin: 20px 0px 30px;
    color: #515151;
    font-weight: 600;
}

.comInput {
    display: flex;
    justify-content: space-between;
}

.comInput input,textarea {
    width: 45%;
    border-style: none none solid none;
    font-size: 16px;
    font-family: calibri;
}

.comInput input {
    padding: 0px 0px 14px 0px;
}

.comBtn {
    display: flex;
    justify-content: flex-end;
}

#btnCom {
    margin: 20px 30px 0px 0px;
}

.comBtn button {
    background-color: white;
    border: 1px solid lightgray;
    padding: 5px 20px 5px 20px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
}

.videoTitle {
    text-align: left;
    font-weight: 600;
}

.channelTitle {
    text-align: left;
    color: #C8B8AD;
    font-size: 14px;
    font-weight: 600;
}

.required {
    border: 1px solid red;
    border-style: none none solid none;
}

.fa.fa-heart {
   color: red;
   margin: 20px 0px 0px 0px; 
   cursor: pointer;
}

.listComments {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: lightgrey;
    margin: 40px 0px 0px 0px;
}

.singleComment {
    background-color: white;
    margin: 10px 20px 10px 20px;
}

.nameComment {
    font-weight: 700;
    margin: 0px 0px 2px 10px;
}

.headComment {
    margin: 0px 0px 2px 10px;
}

.iconTitle {
    display: flex;
    margin: 20px 0px 0px 0px;
}

.fa.fa-user {
    font-size: 25px;
    color: #515151;
}

.channelTitled {
    color: #515151;
    margin: 0px 0px 0px 10px;
    font-weight: 600;
}

.mainTitleSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-heart-o {
    margin: 20px 0px 0px 0px;
    cursor: pointer;
}


